        html {
            background-color: #ccc;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;

            margin: 20px;
        }

        .top {
            display: flex;
            margin: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .box {
            margin: auto;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 0px 5px #ccc;
            transition: transform .3s;
        }

        .box:hover {
            transform: scale(1.05);

            box-shadow: 0px 0px 15px #ccc;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform .3s;
        }

        .box:hover img {
            transform: scale(1.2);

        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity .3s;
        }

        .box:hover .overlay {
            opacity: 1;
        }

        .text {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }




        /* footer 스타일 */
        footer {
            background-color: #ccc;
            color: black;
            padding: 30px 0;
        }

        footer div {
            max-width: 1200px;
            margin: 0 auto;
        }

        footer table {
            font-size: 20px;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }

        /* footer */