        html {
            /* background-color: #ccc; */
            background-color: #da99ff;
                background-image: radial-gradient(at 88% 0%,
                        rgb(223, 148, 189) 0px,
                        transparent 50%),
                    radial-gradient(at 63% 46%, rgb(255, 227, 252) 0px, transparent 50%),
                    radial-gradient(at 95% 53%, hsla(89, 91%, 67%, 1) 0px, transparent 50%),
                    radial-gradient(at 79% 83%, hsla(170, 86%, 65%, 1) 0px, transparent 50%),
                    radial-gradient(at 74% 93%, hsla(71, 93%, 75%, 1) 0px, transparent 50%),
                    radial-gradient(at 52% 13%, hsla(110, 83%, 72%, 1) 0px, transparent 50%),
                    radial-gradient(at 30% 80%, hsla(263, 79%, 66%, 1) 0px, transparent 50%);
                color: #000;

                height: 100%;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .top {
            display: flex;
            margin: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }



        img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform .3s;
        }


        .text {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }




        /* footer 스타일 */
        footer {
            /* background-color: #ccc; */
            color: black;
            padding: 30px 0;
        }

        footer div {
            max-width: 1200px;
            margin: 0 auto;
        }

        footer table {
            font-size: 20px;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
        #time{
            font-size: 20px;
            text-align: right;
            padding: 10px 0;
        }
        /* footer */

.sample-slider {
    width: 35%;
}

.sample-slider .swiper-slide {
    /* added */
    border-radius: 20px;
    /* added */
}

/* added */
.sample-slider img {
    width: 100%;
    vertical-align: bottom;
    /* added */

}

/* 이미지에 마우스를 올려놨을떄 애니메이션 */
.sample-slider .swiper-slide:hover img {
    transform: scale(1.3);
    transition: transform .4s;
}



div.swiper-button-next,
div.swiper-button-prev {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    margin: 0 -100px;
}


body {
    place-items: center;
    margin: 0;
    padding: 0 24px;
}