.music-player {
    /* 테두리 */
    /* 테두리 둥글게 */
    background-color: rgb(223, 181, 181);
    border-radius: 5px;
    width: 130px;
    /* 중앙 */
    text-align: center;
    margin: 0 auto;
    /* 테두리 안에있는 애들 센터 */
    padding: 10px;
    margin-top: 30px;
}

.music-player .controls button {
    /* 버튼 사이 간격 */
    margin: 0 5px;
    /* 버튼 크기 */
    width: 30px;
    height: 30px;
    background: none;
    border: 0;
}

.music-player .controls button:hover {
    cursor: pointer;
    /* 효과 */
    transform: scale(1.1);
    /* 버튼 색깔 */
    color: #ff0000;
}

.playlist {
    margin-top: 20px;
}

.video-container {
    position: relative;
    margin: 0 auto;
    /* 90% of viewport width */
    max-width: 1200px;
    /* maximum width of 800px */
    height: auto;
    overflow: hidden;
    z-index: -1;
    /* set z-index to -1 to place behind other elements */
    
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* cover video to fit container */
}
body{
    width: 100%;
    height: 100%;
    background-color: #111119;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}